

<div class="navigation col-lg-12">
  <nav class="navbar navbar-default " >
      <div class="container-fluid " >
          <div class="navbar-header">
                <a [routerLink]="['']" title="Go to Home page">
                    <img class="logo" src="../assets/img/logo-dark.svg" alt="Condor Labs logo" height="40px" width="30px">
                    <img class="logo" src="../assets/img/condorlab.svg" alt="Condor Labs logo" height="40px" >
                </a>

          </div>
   
      </div>
  </nav>


</div>


<div class="col-lg-12">
  <router-outlet></router-outlet>
</div>


