<div class="video-detail col-md-8">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" [src]="video.id | domseguro:'https://youtube.com/embed/'"></iframe>
    </div>

    <div class="card w-75" >
        <div class="card-body">
          <strong class="card-title">{{ video.snippet.title }}</strong>
          <h6 class="card-title">{{ video.snippet.channelTitle }}</h6>
          <p class="card-text">{{ video.snippet.description }}</p>
        </div>
    </div>
    
</div>

<ul class="col-md-4 list-group">
    <li class="list-group-item" *ngFor="let video of recomend;">
        <div class="video-list media" [routerLink]="['/video', video.id.videoId ]">
            <div class="media-left">
                <img class="media-object" [src]="video.snippet.thumbnails.default.url"/>
            </div>

            <div class="media-body">
                <div class="media-heading">
                    {{ video.snippet.title }}
                </div>
            </div>
        </div>
    </li>
</ul>